body {
	background-color: white;
	font-family: Indie Flower, cursive;
}
table {
		width: 100vw;
		margin-left: auto;
		margin-right: auto;
		border = 100px;
		border-spacing: "0";
		border-color: "blue";
		
}
img {
	max-width=100%;
	height: auto;
	width: auto\9;
}
